
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin-top: 130px; 
    
  }
  

  
  header {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    
  }



  nav{
    
    height: auto;
    background-color: rgb(50, 49, 49);
    width: 100%;
    padding: 1em
    

  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
    
  }
  
  nav a {
    text-decoration: none;
    color: azure;
    padding: 1em;
    display: block; 
    
    
   
  }
  #home{
    margin: 220px;
    margin-left: 30px;
  }
  
  section {
    
    color: blueviolet;
    padding: 2em

  }
  
  .container {
    display: flex;
  }
  
  .image {
    margin-right: 10px; 
    width: 12%;
    
    
    /* Ajuste o espaçamento entre as imagens conforme necessário */
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
       
        
