
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  header {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 1em;

  }
  nav{
    background-color: rgb(50, 49, 49);
    color: blueviolet;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
  }
  
  nav a {
    text-decoration: none;
    color: ;
    padding: 1em;
    display: block;
  }
  
  section {
    padding: 2em;
    color: blueviolet; 
    
  }
  
  .container {
    display: flex;
  }
  
  .image {
    margin-right: 10px; 
    width: 20%;
    
    /* Ajuste o espaçamento entre as imagens conforme necessário */
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
       
        
