
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin-top: 190px; 
    
  }
  

  
  header {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    
  }


  nav{
    
    height: auto;
    background-color: rgb(50, 49, 49);
    width: 100%;
    padding: 1em
    

  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
    
  }
  
  nav a {
    text-decoration: none;
    color: azure;
    padding: 1em;
    display: block; 
  }

  img{
  height: auto;
  width: 150px;
  }

  
  section {
    
    color: blueviolet;
    padding: 2em

  }
  
  .container {
    display: flex;
  }
  
  
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
       
        
